# compiler
.cache/

# build
build/plugin/dev/
build/plugin/prod/
build/plugin/preprod/

# tests
tests/coverage/

# dependencies
node_modules/
package-lock.json
yarn.lock
yarn-error.log

#spec
spec/

# Git
.git/

# IDE
.idea/

# macOS
.DS_Store

# Meteor
.meteor/local

# Modified folder of our ver of Reader View extn (supports twitter embeds)
/Reader-View-Modified/
